body{
    background: white;
    background-image: url(bg-pattern-bottom-desktop.svg ),url(bg-pattern-top-desktop.svg) ;
    background-position: bottom, url(bg-pattern-top-desktop.svg);
    background-position: top, url(bg-pattern-bottom-desktop.svg );
    background-repeat: no-repeat;
    font-family: Spartan , "Lucida Console", Courier;
    font-size: 15px;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
   min-width: 100vh;
  
    min-height: 100vh;
    padding: 20px;
    margin: 50px 100px;
   position: relative;
    
   
}
.page {
    width: 1000PX;
  

    display: flex;
    flex-direction: row;
   align-content: center;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   /* margin-bottom: 20px;*/
  /* position: relative;*/
   margin: 5px auto;
   
   

    
    
}







.zero{
    width: 300px;
   /* height: 200px;*/

    background-color: white;
    padding: 2px;
    /*margin: 20px;*/
    ;
}
.spn{
    
    font-size: 30px;
    font-weight: 600;
    color:hsl(300, 43%, 22%);
    
}
.p1{
    color:  hsl(300, 43%, 22%);
}

.six{
   width: 400px;
    /*height: calc(100%/2);*/
    margin: 10px auto;
    padding: 5px;
    
}
.imagee{
    width: 350px;
    height: 30px;
    /*height: 25px;*/
    background-color: hsl(300, 24%, 96%);
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-overflow: none;
    background-color:hsl(300, 24%, 96%) ;
}
.imagee1{
    width: 350px;
    height: 30px;
    /*height: 25px;*/
    background-color: hsl(300, 24%, 96%);
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-overflow: none;
    transform: translatex(30px);
    background-color:hsl(300, 24%, 96%) ;
}

.imagee2{
    width: 350px;
    height: 30px;
    
    background-color:hsl(300, 24%, 96%) ;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-overflow: none;
    transform: translatex(60px);
}
.imagee img{
    width: 15px;
    height: 15px;
    
}
.imagee1 img{
    width: 15px;
    height: 15px;
}
.imagee2 img{
    width: 15px;
    height: 15px;
}
div span{
    text-align: center;
    
    font-weight: 200px;
    color: hsl(300, 43%, 22%);
    padding:15PX ;
}

h1{
    font-size: 15px;

    color: #f7f7f7;
    text-align: center;
    margin-top: 20px;
}
h2{ 
    font-size: 15px;

    
    color: hsl(333, 80%, 67%);
    text-align: center;
}
img {
    width: 40px;

    border-radius: 40px;

}
.parent{
    width: 1000px;
   
    background-color: white;
    padding: 20px;
   /* margin: 20px;*/
   /*position: relative;*/
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin: 5px auto;
   

}
.one {
   width:300px;
    height:200px ;
    border-radius: 10px;
    background: rgb(80, 17, 80);
    color: rgb(243, 236, 236);
    font-size: 15px;
    padding: 5px;
    

}
.two{
   width:300px;
    height: 200px;
    border-radius: 10px;
    background: rgb(80, 17, 80);
    color: rgb(243, 236, 236);
    font-size: 15px;
    transform: translateY(10px);
    padding: 5px;
    
}
.three {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: rgb(80, 17, 80);
    color: rgb(243, 236, 236);
    font-size: 15px;   
    transform: translateY(20px);
    padding: 5px;
    
}
@media (max-width: 800px) {
    .parent {
      flex-direction: column;}
} 